.nav-img {
  width: 100px;
}
h1 {
  text-align: center;
  color: rgb(102, 101, 101);
  font-weight: 700;
}
.text-highlight {
  color: lightseagreen;
}
.header-img {
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
}
.login-form {
  margin-top: 100px;
  padding: 40px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
}
#dashboard-page {
  display: none;
  padding: 40px;
}
.deposit,
.withdraw,
.balance {
  color: white;
  padding: 30px;
  border-radius: 50px;
}
.deposit {
  background-color: lightseagreen;
}
.withdraw {
  background-color: lightsalmon;
}
.balance {
  background-color: lightslategray;
}
